--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
pathspec 
llama-index 
scikit-learn 
tree-sitter-languages
transformers
autoawq
llama-cpp-python
tree-sitter
tree-sitter-languages
zstd
rarfile
python-pptx
pillow
pypdf
anthropic
google
google-generativeai
py7zr

